__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.bak
*.zip
*.bin
*.bit
*.jed
*.svf
*.sof
*.map
*.rpt
*.html
*.xml
tmp_*.html
常见问题.xlsx
集创亿海微.png
集创赛-中科亿海微杯/
build/
out/
dist/
.idea/
.vscode/
fpga/
mcu/
projects/
linksea_h6_env/
*.epr
*.qpf
*.qsf
*.v
*.sv
*.vhd
*.vhdl
*.qar
*.rar
*.7z
*.exe
