host_gui/.venv/
host_gui/backups/
host_gui/**/__pycache__/
host_gui/**/*.pyc

fpga_project_02/backups/
fpga_project_02/db/
fpga_project_02/incremental_db/
fpga_project_02/sim/
fpga_project_02/sim_ref/
fpga_project_02/sim_ref_debug/
fpga_project_02/sim_real_lib/
fpga_project_02/*.runs/
fpga_project_02/**/*.log
